// Configuration profiles for different execution environments

profiles {
    
    // Local execution (default in nextflow.config)
    standard {
        executor = 'local'
    }
    
    // LSF cluster (like HPC Farm at HGI)
    lsf {
        process {
            executor = 'lsf'
            queue = 'normal'
            clusterOptions = '-G teamtrynka'
            
            withLabel: 'high_memory' {
                cpus = 32
                memory = '250 GB'
                time = '12h'
                clusterOptions = '-G teamtrynka -q normal -n 32 -M250000 -R "span[hosts=1] select[mem>250000] rusage[mem=250000]"'
            }
            
            withLabel: 'medium_memory' {
                cpus = 2
                memory = '10 GB'
                time = '4h'
                clusterOptions = '-G teamtrynka -q normal -n 2 -M10000 -R "span[hosts=1] select[mem>10000] rusage[mem=10000]"'
            }
        }
    }
    
    // SLURM cluster
    slurm {
        process {
            executor = 'slurm'
            queue = 'normal'
            
            withLabel: 'high_memory' {
                cpus = 32
                memory = '250 GB'
                time = '12h'
                clusterOptions = '--mem=250000 --cpus-per-task=32'
            }
            
            withLabel: 'medium_memory' {
                cpus = 2
                memory = '10 GB'
                time = '4h'
                clusterOptions = '--mem=10000 --cpus-per-task=2'
            }
        }
    }
    
    // Docker container execution
    docker {
        process {
            container = 'prs-nf:latest'
        }
        docker.enabled = true
    }
    
    // Singularity container execution
    singularity {
        process {
            container = 'prs-nf.sif'
        }
        singularity.enabled = true
    }
}
